<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title -%} アスカ {%- endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <h1>アスカ</h1>
    {% endblock %}
  </body>
</html>
{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
