{% extends 'base.html.jinja' %}

{% block title -%}
  Deployed branches &mdash; {{ super() }}
{%- endblock %}

{% block body %}
  {{ super() }}
  {% for group in deployments|groupby('live')|reverse %}
    {% if group.grouper %}
      <h2>Promoted branch</h2>
    {% else %}
      <h2>Deployed branches</h2>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>Branch</th>
          <th>Commit</th>
          <th colspan="2">Domains</th>
          {% if not group.grouper %}
            <th>Promote</th>
          {% endif %}
          <th>Redeploy</th>
          <th>Terminate</th>
        </tr>
      </thead>
      <tbody>
        {% for deploy in group.list|sort(attribute='branch.name') %}
          {% with domains = deploy.domains, rows = domains|count or 1 %}
            {% for service, domain in domains.items() or [(None, None)] %}
              <tr>
                {% if loop.first %}
                  <th rowspan="{{ rows }}">{{ deploy.branch|safe }}</th>
                  <td class="commit"
                      rowspan="{{ rows }}"><tt>{{ deploy.commit.ref }}</tt></td>
                {% endif%}
                <th class="domain-service">
                  {% if service %}
                    <a href="{{ deploy|service_config_file_url(service) }}"><tt>
                      {{- service }}</tt></a>
                  {% endif %}
                </th>
                {% with domain_name = domain[:-1]
                                      if domain and domain.endswith('.')
                                      else domain %}
                  <td class="domain-name">
                    <a href="http://{{ domain_name }}/">{{ domain_name }}</a>
                  </td>
                {% endwith %}
                {% if loop.first %}
                  {% if not group.grouper %}
                    <td rowspan="{{ rows }}">
                      <form action="{{ request.build_url('start_promote',
                                       label=deploy.branch.label) }}"
                            method="post" class="promote">
                        <input type="submit" value="Promote">
                      </form>
                    </td>
                  {% endif %}
                  <td rowspan="{{ rows }}">
                    <form action="{{ request.build_url('deploy_again',
                                     label=deploy.branch.label) }}"
                          method="post" class="redeploy">
                      <input type="submit" value="Redeploy">
                    </form>
                  </td>
                  <td rowspan="{{ rows }}">
                    <form action="{{ request.build_url('terminate',
                                     label=deploy.branch.label) }}"
                          method="post" class="terminate">
                      <input type="submit" value="Terminate">
                    </form>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
  <form action="{{ request.build_url('deploy_manually') }}"
        method="post" class="deploy">
    <fieldset>
      <legend>Manual deployment</legend>
      <div class="field">
        <label>Branch <input type="text" name="branch"
                             placeholder="e.g. pull-5, branch-master"></label>
      </div>
      <div class="field">
        <label>Commit <input type="text" name="commit" maxlength="40"
                             placeholder="e.g. 5fa1779c62b5"></label>
      </div>
      <input type="submit" value="Deploy">
    </fieldset>
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  </script>
  <script>
  $('form.redeploy, form.terminate').submit(function () {
    var row = $(this).parents().filter(function () {
          return this.tagName == 'TR';
        }).get(0),
        hash = $('.commit tt', row).text().substr(0, 7),
        repeated = '',
        code;
    while (true) {
      code = window.prompt(
        repeated + 'Are you sure?  Type ' + hash + ' to continue.'
      );
      if (code === null) return false;
      else if (code === hash) break;
      repeated = 'You typed a wrong answer. ';
    }
  });
  $('form.promote, form.deploy').submit(function () {
    return window.confirm('Are you sure?');
  });
  </script>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
