{% extends 'base.html.jinja' %}

{% block title -%}
  Deployed branches &mdash; {{ super() }}
{%- endblock %}

{% block body %}
  {{ super() }}
  <h2>Deployed branches</h2>
  <table>
    <thead>
      <tr>
        <th>Branch</th>
        <th>Commit</th>
        <td>Promote</td>
        <td>Redeploy</td>
        <td>Terminate</td>
      </tr>
    </thead>
    <tbody>
      {% for branch, commit in branches.items() %}
        <tr>
          <th>{{ branch|safe }}</th>
          <td class="commit"><tt>{{ commit.ref }}</tt></td>
          <td>
            <form action="{{ request.build_url('start_promote',
                             label=branch.label) }}"
                  method="post" class="promote">
              <input type="submit" value="Promote">
            </form>
          </td>
          <td>
            <form action="{{ request.build_url('deploy_again',
                             label=branch.label) }}"
                  method="post" class="redeploy">
              <input type="submit" value="Redeploy">
            </form>
          </td>
          <td>
            <form action="{{ request.build_url('terminate',
                             label=branch.label) }}"
                  method="post" class="terminate">
              <input type="submit" value="Terminate">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{{ request.build_url('deploy_manually') }}"
        method="post" class="deploy">
    <fieldset>
      <legend>Manual deployment</legend>
      <div>
        <label>Branch <input type="text" name="branch"
                             placeholder="e.g. pull-5, branch-master"></label>
      </div>
      <div>
        <label>Commit <input type="text" name="commit" maxlength="40"
                             placeholder="e.g. 5fa1779c62b5"></label>
      </div>
      <input type="submit" value="Deploy">
    </fieldset>
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  </script>
  <script>
  $('form.redeploy, form.terminate').submit(function () {
    var row = $(this).parents().filter(function () {
          return this.tagName == 'TR';
        }).get(0),
        hash = $('.commit tt', row).text().substr(0, 7),
        repeated = '',
        code;
    while (true) {
      code = window.prompt(
        repeated + 'Are you sure?  Type ' + hash + ' to continue.'
      );
      if (code === null) return false;
      else if (code === hash) break;
      repeated = 'You typed a wrong answer. ';
    }
  });
  $('form.promote, form.deploy').submit(function () {
    return window.confirm('Are you sure?');
  });
  </script>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
